#intro
  h1 Pigskin Picks
  img(src='http://hawkcentral.com/wp-content/gallery/iowa-nebraska-game-in-2011/006iow-1117-ia-vs-nebraska.jpg', alt='Wisconsin Game', width='400',size='300')
#instructions
  p Pigskin Picks 2011 will follow the same format as last year
  p There will be 13 weeks again this year beginning September 3 and ending November 26, 2011.
  p The entry fee is $2 a week per entry plus $4 for the Year-End championship pool. Fees for all 13 weeks and the Year-End pool are $30 per player. Entry fees are due to Jason or Brenda by September 2. Weekly payout is 50% for 1st place, 30% for 2nd place, and 20% for 3rd place. There will be $??? up for grabs in the Year-End Championship pool. The top 5 player totals after week 13 will get this money split 30, 25, 20, 15, and 10 percent. You score a point when you pick a Favorite that wins a game by more than the Spread or when you pick an Opponent that looses a game by less than the Spread. If a Favorite wins the game by the exact Spread no points are awarded for that game. An asterisk by a team name means that team is playing at home. The weekly tiebreaker is calculated only when necessary as the difference in scores for the first team plus the difference in scores for the second team. No points are awarded for the tiebreaker game.
#deadline
  p <strong>Deadline</strong>
  p You need to submit your picks by noon each Friday to be eligible to win.
  p <em>Disclaimers: The managers of the pool are not responsible for reminding players to submit their picks. Players are responsible for making sure that their picks have been submitted correctly. Picks must be submitted by Friday noon to be eligible for payout. No exceptions.</em>
#contacts
  p <strong>Contacts</strong>
  p Pearson - Jason R. Smith x21-4432 (jason.smith@pearson.com) or Al Frauenholtz x21-6343 (allen.frauenholtz@pearson.com) 
  p Vangent - Brenda Kearney x7626
footer
  h2 Pigskin Picks 2011 Ends November 26, 2011
  p Good Luck and Happy Pickin'!!!
  img(src='http://cmsimg.hawkcentral.com/apps/pbcsi.dll/bilde?NewTbl=1&Avis=D5&Dato=20070806&Kategori=HAWKS0104&Lopenr=708060802&Ref=PH&Item=16&Maxw=465', width='300', height='200')
