!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.min.css')
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          a.btn.btn-navbar(data-toggle='collapse',data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='/') Pigskin Picks
          .nav-collapse.collapse(style='height: 0px;')
            ul.nav
              li: a(href='/') Home
              li: a(href='/picks/') Make some picks
              li: a(href='/results/') Results
    .container-fluid
      .row-fluid
        .span4
          img(src='/images/iowa.jpg', alt='Iowa Hawkeyes')
          .well
            h3 Latest Results
            table.table.table-condensed
              thead
                tr
                  th Place
                  th Name
                  th Correct
                  th Payout
              tbody
                tr
                  td 1st
                  td Mike
                  td 10
                  td $500
        .span8
          != body
  script(src='/javascripts/jquery.js')
  script(src='/javascripts/bootstrap.min.js')
