if typeof flash != 'undefined' && flash.error
  p.alert.alert-error.span4= flash.error
form.span8(method='post')
  label Username:
    input.span4(name='user[_id]')
  input.btn(type='submit',value='Log in')
