h1 Results
#results
  table.table
    thead
      tr
        th User
        each week in weeks
          th= week.number
        th YTD Score
    tbody
      each user in users
        tr
          td= user.full_name
          each week in weeks
            entry = entryForWeek(user, week.number)
            if (entry)
              td= entry.score_result
            else
              td -
          td= user.score_total
