h1 Results
#results
  table(class='table')
    thead
      tr
        th User
        each week in weeks
          th= week.number
        th YTD Score
    tbody
      each user, i in users
        tr
          td= user.full_name
          each entry in user.entries
            td= entry.score_result
          td= user.score_total
