h1 Results
#results
  table.table
    thead
      tr
        th User
        each week in weeks
          th= week.number
        th YTD Score
    tbody
      each user in users
        tr
          td= user.full_name
          each week, w in weeks
            if (user.entries[w] && user.entries[w].week == w+1)
              td= user.entries[w].score_result
            else
              td -
          td= user.score_total
